<h1>Book List</h1>

        <input type="text" ng-model="searchText">

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="book in books | filter:{title: searchText} | orderBy:'title'">
            <td><a ng-href="#/books/{{book.isbn}}">{{book.title}}</a></td>
            <td>{{book.subtitle}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td><button ng-click="delete(book)" class="button">Delete</button></td>
        </tr>
    </tbody>
</table>

<message-dialog visible="dialogVisible"
                title="dialogTitle"
                on-yes="performDeletion()"
                on-no="cancelDeletion()">
    Wollen Sie das Buch &quot;{{ bookToDelete.title }}&quot; wirklich löschen?
</message-dialog>